@import "../base/variables";

body {
  position: relative;
  background-color: $clr-light-bg;
  overflow-x: hidden;

  &.scroll-disabled {
    overflow-y: hidden;
  }
}

.blue-bg {
  background-color: $clr-blue-ltr;
}

/* .main-content {
  margin: $gutter-sm $gutter-md;
  @media (min-width: $mq-sm) {
    margin: $gutter-md $gutter-xl;
  }
} */
