@import "../base/variables";

body {
  position: relative;
  background-color: $clr-light-bg;

  &.scroll-disabled {
    overflow-y: hidden;
  }
}

.site-wrapper {
  overflow-x: hidden;
}

.blue-bg {
  background-color: $clr-blue-ltr;
}
.white-bg {
  background-color: $clr-white;
}
