@import "../base/variables";

$gutter-header-lg: 65px;
$gutter-header-md: 38px;

header {
  background-color: $clr-white;
  padding: 25px $gutter-md;
}

.top-nav ul {
  @include flex-between;
  margin: 0 $gutter-md;

  .home-link {
    @include bg-center-fullsize;
    background-image: url("../assets/img/haku_logo.svg");
    width: 80px;
    height: 45px;
  }

  @media (min-width: $mq-sm) {
    @include flex-center;
    gap: $gutter-header-md;

    a {
      text-align: center;
      white-space: nowrap;
      font-size: $fs-body;
    }
    .toggle-nav-btn {
      display: none;
    }
  }
  @media (min-width: $mq-md) {
    gap: $gutter-header-lg;
    .home-link {
      width: 90px;
    }
    a {
      font-size: $fs-heading-xxs;
    }
  }
}

.expandable-nav {
  @include flex-column-center;
  width: 100%;
  display: none;

  &.active {
    display: flex;
    position: fixed;
    z-index: $z-index-max;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $clr-blue-ltr;
    overflow-y: scroll;
  }

  @media (min-width: $mq-sm) {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: $gutter-header-md;
    :last-child {
      margin-left: auto;
    }
  }
  @media (min-width: $mq-md) {
    gap: $gutter-header-lg;
  }

  .button {
    font-size: $fs-sm;
    margin-left: auto;
    height: auto;
    padding: 0.6rem 1rem;
  }
}

.toggle-nav-btn {
  &.expandable-active {
    z-index: $z-index-max;
  }
}
