@import "../base/variables";

.top-nav ul {
  @include flex-center;
  gap: $gutter-lg;
  margin: $gutter-sm $gutter-md;

  @media (min-width: $mq-sm) {
    li {
      a {
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.expandable-nav {
  @include flex-center;
  flex-direction: column;
  width: 100%;

  @media (min-width: $mq-sm) {
    flex-direction: row;
    gap: $gutter-lg;

    :last-child {
      margin-left: auto;
    }
  }

  .button {
    font-size: $fs-sm;
    margin-left: auto;
    height: auto;
    padding: 0.6rem 1rem;
  }
}
