@import "../base/variables";

.hero {
  @include flex-center;
  @include bg-center-cover;
  height: 80vh;
  padding-right: $gutter-sm;
  padding-left: $gutter-sm;
}

.hero-content {
  @include flex-center;
  gap: $gutter-md;
  flex-direction: column;

  @media (min-width: $mq-sm) {
    max-width: 600px;
  }

  p {
    display: none;
    text-align: center;
    font-size: $fs-heading-xs;
    @media (min-width: $mq-xs) {
      display: block;
    }
    @media (min-width: $mq-sm) {
      font-size: $fs-heading-sm;
    }
  }
}
