@import "../base/variables";

.hero {
  @include flex-center;
  @include bg-center-cover;
  background-color: $clr-blue;
  background-image: url("/assets/img/glass-wall_crop_2100x1234.png");
  height: 80vh;
  padding-right: $gutter-xl;
  padding-left: $gutter-xl;
}

.hero-content {
  @include flex-center;
  flex-direction: column;

  @media (min-width: $mq-sm) {
    max-width: 600px;
  }

  p {
    font-size: $fs-heading-md;
  }
}
