@import "../base/variables";
@import "../base/typography";

.hero {
  @include flex-center;
  @include bg-center-cover;
  height: 80vh;
  padding-right: $gutter-md;
  padding-left: $gutter-md;
}

.hero-content {
  @include flex-center;
  flex-direction: column;
  gap: $gutter-sm;
  max-width: $max-size;

  .subtitle {
    text-align: center;
    font-size: $fs-body;
    @media (min-width: $mq-sm) {
      font-size: $fs-heading-xs;
    }
  }
}
