@import "../base/variables";
@import "../base/typography";

button {
  appearance: none;
  @include flex-center;
  margin: 0;
  padding: 0;
  @include main-typography;
  color: $clr-black;
  line-height: inherit;
  background-color: transparent;
  border: none;
  /*   overflow: hidden; */
  cursor: pointer;
}

.button {
  @include flex-center;
  @include button-typography;
  position: relative;
  text-decoration: none;
  text-align: center;
  /*   white-space: nowrap; */
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background-color: $clr-blue;
  color: $clr-white;
  padding: 0.5rem 2rem;
  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
  border: 1px solid rgba(18, 86, 109, 0.31);

  &.glass {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.886), transparent);
      transition: 0.3s;
      transition-delay: 0.2s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    &:hover:after {
      left: 100%;
    }
  }

  &.body-btn {
    @include main-typography;
  }

  &:hover {
    background-color: $clr-blue-lt;
    color: $clr-white;
    /*     transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px); */
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.toggle-nav-btn {
  position: relative;
  padding: $gutter-xs;
  &:before {
    content: "☰";
    display: block;
    font-size: 25px;
  }
  &.expandable-active:before {
    content: "✕";
  }
}
