@import "../base/variables";
@import "../base/typography";

header a {
  @include link-typography;
  &:hover {
    color: $clr-blue-lt;
  }
}

.text-link {
  @include link-typography;
  color: $clr-contrast-dk;
  font-weight: $fw-regular;
  white-space: normal;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
    color: $clr-contrast-lt;
  }
}

.suggestion {
  @include main-typography;
  &:hover {
    color: $clr-contrast-lt;
  }
}

.footer-link {
  @include main-typography;
  color: $clr-white;
  &:hover {
    color: $clr-contrast-ltr;
  }
}
