@import "../base/variables";
@import "../base/typography";

$height: 2.8rem;
$radius: calc($height / 2);
$shadow: 0 4px 4px #654cff;

.search-interface {
  @include flex-center;
  flex-direction: column;
}

.search-wrapper {
  position: relative;
  label {
    @include flex-center;
    flex-direction: column;
    > span:first-child {
      @include main-typography;
    }
    margin-top: $gutter-md;

    .site-to-search {
      @include h2-typography;
    }
  }
  .input-wrapper {
    position: relative;

    .icon {
      position: absolute;
      color: $clr-blue;
      top: 0.5rem;
      left: 0.5rem;
      height: calc($height - 15px);
      width: calc($height - 15px);
    }
  }
}

#search-input {
  height: 2.8rem;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  font-weight: $fw-regular;
  background-color: $clr-light-bg;
  @include box-shadow-transition;
  padding-left: $height;

  &:focus {
    background-color: $clr-white;
    box-shadow: $shadow;
  }
  &.suggestions-active {
    border-radius: $radius $radius 0 0;
    -webkit-border-radius: $radius $radius 0 0;
    -moz-border-radius: $radius $radius 0 0;
    -ms-border-radius: $radius $radius 0 0;
    -o-border-radius: $radius $radius 0 0;
    border-bottom: 1px solid #b5b5b5;
  }

  @media (min-width: $mq-sm) {
    width: $max-size-half;
  }
}

.result-feedback {
  text-align: center;
  margin-top: $gutter-xs;
  font-size: $fs-sm;
  [data-query],
  [data-hits] {
    font-weight: $fw-bold;
  }
  [data-query] {
    word-break: break-all;
  }
}

.suggestions-wrapper {
  position: absolute;
  width: 100%;
  background-color: $clr-white;
  padding: $gutter-md;
  border-radius: 0 0 $radius $radius;
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -ms-border-radius: 0 0 $radius $radius;
  -o-border-radius: 0 0 $radius $radius;
  box-shadow: $shadow;

  ul {
    @include flex-column;
    gap: 14px;
    li {
      line-height: normal;
    }
  }
}
