@import "../base/variables";
@import "../base/typography";

$width: 60px;
$half-width: 34px;
$offset: 26px;

/* The switch - the box around the slider */
.switch {
  @include flex-center;
  @include main-typography;
  color: $clr-white;
  width: 100%;
  flex-direction: column;
  position: relative;
  display: inline-block;
  height: $half-width;
}

.label-text {
  position: absolute;
  top: -23px;
  width: 100%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  width: $width;
  height: $half-width;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $clr-green;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: $half-width;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $clr-contrast-dk;
  transition: transform 0.2s;
  border-radius: 50%;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
}

input:checked + .slider {
  background-color: $clr-contrast-dk;
}

input:focus-visible + .slider {
  outline: 2px solid $clr-black;
  outline-offset: 2px;
}

input:checked + .slider:before {
  background-color: $clr-contrast-ltr;
  -webkit-transform: translateX($offset);
  -ms-transform: translateX($offset);
  transform: translateX($offset);
}
