@import "../base/variables";
@import "../base/typography";
label {
  @include main-typography;
}

input:not([type="submit"], [type="checkbox"], [type="radio"]),
textarea {
  $height: 40px;
  display: block;
  width: 100%;
  height: $height;
  margin-top: $gutter-xs;
  padding: $gutter-sm;
  background: $clr-light-bg;
  border: none;
  @include main-typography;
  color: $clr-black;
  appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  &:placeholder {
    color: $clr-black;
    opacity: 0.75;
  }

  &:focus {
    background-color: $clr-white;
    &::placeholder {
      opacity: 0.5;
    }
  }
  &:focus-visible {
    outline: none;
  }
}
