@import "variables.scss";

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

/* Quicksand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,200;1,400;1,500;1,600&display=swap");

@mixin h2-typography {
  font-family: $ff-heading-secondary;
  font-weight: $fw-medium;
  font-size: $fs-heading-md;
  @media (min-width: $mq-sm) {
    font-size: $fs-heading-lg;
  }
}

@mixin main-typography {
  font-family: $ff-main;
  font-weight: $fw-light;
  font-size: $fs-body;
}

@mixin link-typography {
  font-family: $ff-main;
  font-weight: $fw-medium;
  color: $clr-black;
  text-decoration: none;
}
@mixin button-typography {
  font-family: $ff-main;
  font-size: $fs-body;
  font-weight: $fw-medium;
  @media (min-width: $mq-sm) {
    font-size: $fs-heading-xs;
  }
}

h1,
.title {
  font-family: $ff-heading-primary;
  font-weight: $fw-bold;
  color: $clr-black;
  font-size: $fs-heading-lg;
  text-align: center;
  @media (min-width: $mq-sm) {
    font-size: $fs-heading-xl;
  }
}

h2,
.subtitle {
  @include h2-typography;
}

h3 {
  @include h2-typography;
  font-size: $fs-heading-xs;
}

p {
  @include main-typography;
}

a {
  @include link-typography;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong,
em {
  font-weight: $fw-semibold;
  font-style: normal;
}

time {
  @include main-typography;
}
