:root {
  /* Colors */
  --color-blue: #12566d;
  --color-blue-lt: #539eb7;
  --color-blue-ltr: #dae7eb;
  --color-green: #b5cece;
  --color-light-bg: #f4f8f8;

  --color-white: #fff;
  --color-black: #000;

  --color-contrast-dk: #261ba8;
  --color-contrast-lt: #6156e1;
  --color-contrast-ltr: #d3c8ff;

  --font-heading-primary: "Montserrat", sans-serif;
  --font-heading-secondary: "Quicksand", sans-serif;
  --font-main: "Mulish", sans-serif;
}
