/* Breakpoints */
$mq-xxs-down: 500px;
$mq-xs-down: 767px;
$mq-sm-down: 1023px;
$mq-md-down: 1199px;
$mq-lg-down: 1439px;
$mq-xl-down: 1919px;

$mq-xs: 500px;
$mq-sm: 768px;
$mq-md: 1024px;
$mq-lg: 1200px;
$mq-xl: 1440px;
$mq-xxl: 1920px;

/* Colors */
$clr-blue: #12566d;
$clr-blue-lt: #539eb7;
$clr-blue-ltr: #dae7eb;
$clr-green: #b5cece;
$clr-light-bg: #f4f8f8;

$clr-white: #fff;
$clr-black: #000;

$clr-contrast-dk: #261ba8;
$clr-contrast-lt: #6156e1;
$clr-contrast-ltr: #d3c8ff;

/* Fonts */
$ff-heading-primary: "Montserrat", sans-serif;
$ff-heading-secondary: "Quicksand", sans-serif;
$ff-main: "Mulish", sans-serif;

$fs-sm: 0.875rem;
$fs-body: 1rem;
$fs-heading-xl: 2.5rem; //40px
$fs-heading-lg: 1.875rem; //30px
$fs-heading-md: 1.5rem; //24px
$fs-heading-sm: 1.375rem; //22px
$fs-heading-xs: 1.25rem; //20px
$fs-heading-xxs: 1.125rem; //20px

$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

//lineheight

/* Gutters */
$gutter-xs: 5px;
$gutter-sm: 10px;
$gutter-md: 20px;
$gutter-lg: 40px;
$gutter-xl: 60px;
$gutter-xxl: 100px;
$gutter-xxxl: 170px;
$gutter-xxxxl: 250px;

//width/height
$max-size-xl: 1000px;
$max-size: 700px;
$max-size-half: calc($max-size/2);
$max-size-double: calc($max-size * 2);

/* Mixins */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow-transition {
  transition: box-shadow 0.15s ease-in-out;
  -webkit-transition: box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -ms-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
}

@mixin center {
  margin: 0 auto;
}

@mixin bg-center-fullsize {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg-center-cover {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin section-padding-mq {
  padding: $gutter-lg $gutter-md;
  @media (min-width: $mq-xs) {
    padding: $gutter-xl $gutter-lg;
  }
  @media (min-width: $mq-sm) {
    padding: $gutter-xxl $gutter-xl;
  }
}

@mixin pseudo-overlay {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.hidden {
  display: none;
}
