@import "../base/variables";
@import "../base/typography";

.front-page {
  .hero {
    height: 100vh;
    background-image: url("../assets/img/glass-wall_crop_md.webp");
    @media (min-width: $mq-sm) {
      background-image: url("../assets/img/glass-wall_crop_lg.webp");
    }

    .button {
      margin-top: $gutter-md;
    }
  }

  .hero-content {
    @media (min-width: $mq-xs) {
      max-width: 500px;
      .subtitle {
        max-width: $max-size-half;
      }
    }
    @media (min-width: $mq-md) {
      max-width: 600px;
    }
  }
  .intro-wrapper {
    background-image: url("../assets/graphics/web_blue-line_01.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 250px;
    @media (min-width: $mq-xs) {
      background-size: 300px;
    }
    @media (min-width: $mq-sm) {
      background-size: 400px;
    }
    @media (min-width: $mq-xxl) {
      background-size: 500px;
    }
  }

  .intro {
    @include flex-column-center;
    gap: $gutter-lg $gutter-xxl;
    @include center;
    max-width: $max-size-double;
    text-align: center;
    @include section-padding-mq;

    p {
      @include center;
      max-width: 500px;
      margin-top: $gutter-sm;
    }

    @media (min-width: $mq-md) {
      flex-direction: row;
    }

    .links {
      margin-top: $gutter-lg;
      @include flex-column-center;
      gap: $gutter-md $gutter-lg;
      @media (min-width: $mq-sm) {
        flex-direction: row;
      }
      > * {
        @include flex-column-center;
      }
      .elastic {
        background-image: url("../assets/img/elastic-logo.svg");
      }
      .knowit {
        background-image: url("../assets/img/knowit.png");
      }
    }
  }

  .highlights {
    @include section-padding-mq;
    background-color: $clr-green;

    h2 {
      text-align: center;
      margin-bottom: $gutter-lg;
    }

    .list {
      display: grid;
      grid-template-columns: 1fr;
      gap: $gutter-xxl;
      align-items: center;
      max-width: $max-size-double;
      margin: 0 auto;
      @media (min-width: $mq-sm) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: $mq-lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .list > * {
      justify-self: center;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      /* padding: $gutter-sm $gutter-xxxl; */
      max-width: $max-size-half;
      height: 100%;
      text-align: center;

      & > * {
        justify-self: center;
        align-self: flex-start;
      }
      .icon {
        width: 50px;
        height: 50px;
      }
      h3 {
        align-self: center;
      }
    }
  }
}

.features-wrapper {
  @include section-padding-mq;
  margin-bottom: $gutter-xxl;
}

.features {
  margin-top: $gutter-xxl;
  @include flex-column-center;
  gap: $gutter-xxxxl;

  /*     @media (min-width: $mq-md) {
    gap: $gutter-xxxl;
  } */
  .icon {
    width: 30px;
    height: 30px;
  }
  .text {
    text-align: start;
  }

  & > * {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: $gutter-md;
    /* max-width: 500px; */

    @media (min-width: $mq-md) {
      /* max-width: 1000px; */
      flex-direction: row;
      justify-content: center;
      gap: $gutter-xxl;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    .text {
      max-width: 600px;
      @include flex-column;
      gap: $gutter-sm;
    }

    figure {
      max-width: 150px;
      @media (min-width: $mq-xs) {
        max-width: 200px;
      }
      @media (min-width: $mq-md) {
        max-width: 300px;
      }
    }
  }
}

.case {
  max-width: $max-size-double;
  @include center;
  display: grid;
  grid-template-rows: 400px 1fr;

  .text {
    @include section-padding-mq;
    padding-top: $gutter-md;
    grid-row: 2 / 3;
    p {
      margin-bottom: $gutter-md;
    }
  }

  .logo {
    width: 100px;
    height: 50px;
    background-image: url("../assets/img/smk-logo.png");
  }
  .bg-img {
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/smk-open_case_01-lg.png");
    @include bg-center-cover;
  }
  @media (min-width: $mq-sm) {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    /*  padding: $gutter-xl; */
    .bg-img {
      grid-area: 2 / 1 / 3 / 2;
    }
    .logo {
      width: 150px;
      height: 100px;
    }
    .text {
      justify-self: center;
      padding: $gutter-lg;
      max-width: $max-size;
      @media (min-width: $mq-md) {
        padding-bottom: $gutter-xl;
      }
    }
  }
}

.brands {
  text-align: center;
  @include section-padding-mq;
  .list {
    max-width: 1400px;
    @include center;
    margin-top: $gutter-xl;
    display: grid;
    grid-template-columns: 1fr;
    gap: $gutter-xl;
    @media (min-width: $mq-xs) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $mq-md) {
      margin-top: $gutter-xxl;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    > * {
      justify-self: center;
    }
  }
}
