@import "../base/variables";
@import "../base/typography";

.front-page {
  .hero {
    height: 100vh;
    background-image: url("../assets/img/glass-wall_crop_2100x1234.png");

    .button {
      margin-top: $gutter-md;
    }
  }

  .hero-content {
    @media (min-width: $mq-xs) {
      max-width: 500px;
    }
    @media (min-width: $mq-md) {
      max-width: 600px;
    }
  }

  /*   .main-content > * {
    padding: $gutter-lg;
    @media (min-width: $mq-sm) {
      padding: $gutter-lg $gutter-md;
    }
  } */

  .intro {
    background-image: url("../assets/graphics/web_grey-line_01.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 40%;
    @include flex-column-center;
    text-align: center;
    min-height: 300px;
    p {
      @include center;
      max-width: 500px;
      margin-top: $gutter-sm;
    }
    @include section-padding-mq;
  }

  .highlights {
    /*     padding: $gutter-lg;
    @media (min-width: $mq-sm) {
      padding: $gutter-lg $gutter-xl $gutter-xxl $gutter-xl;
    } */
    @include section-padding-mq;
    background-color: $clr-green;

    h2 {
      text-align: center;
      margin-bottom: $gutter-lg;
    }

    .list {
      display: grid;
      grid-template-columns: 1fr;
      gap: $gutter-xxl;
      align-items: center;
      max-width: $max-size-double;
      margin: 0 auto;
      @media (min-width: $mq-sm) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: $mq-lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .list > * {
      justify-self: center;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      /* padding: $gutter-sm $gutter-xxxl; */
      max-width: $max-size-half;
      height: 100%;
      text-align: center;

      & > * {
        justify-self: center;
        align-self: flex-start;
      }
      .icon {
        width: 50px;
        height: 50px;
      }
      h3 {
        align-self: center;
      }
    }
  }

  .icon {
    background-image: url("../assets/icons/lightning.png");
    @include bg-center-fullsize;
  }
}

.features-wrapper {
  @include section-padding-mq;
}

.features {
  margin-top: $gutter-xxl;
  @include flex-column-center;
  gap: $gutter-xxxxl;

  /*     @media (min-width: $mq-md) {
    gap: $gutter-xxxl;
  } */
  .icon {
    width: 30px;
    height: 30px;
  }
  .text {
    text-align: start;
  }

  & > * {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: $gutter-md;
    /* max-width: 500px; */

    @media (min-width: $mq-md) {
      /* max-width: 1000px; */
      flex-direction: row;
      justify-content: center;
      gap: $gutter-xxl;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    .text {
      max-width: 600px;
      @include flex-column;
      gap: $gutter-sm;
    }

    figure {
      max-width: 150px;
      @media (min-width: $mq-xs) {
        max-width: 200px;
      }
      @media (min-width: $mq-md) {
        max-width: 300px;
      }
    }
  }
  .case {
    background-color: $clr-blue-ltr;
    padding: $gutter-lg;

    .logo {
      width: 100px;
      height: 50px;
      background-image: url("../assets/img/smk-logo.png");
    }
    @media (min-width: $mq-md) {
      padding: $gutter-xl;
      .logo {
        width: 150px;
        height: 100px;
      }
    }
  }
}

.graphics {
  svg {
    max-width: 100%;
    width: 150px;
    @media (min-width: $mq-xs) {
      width: 200px;
    }
    @media (min-width: $mq-md) {
      width: 300px;
    }
  }
}
