@import "../base/variables";
@import "../base/typography";

.search-interface-page {
  .hero {
    background-image: url("/assets/img/water_crop_2100x822.png");
    height: 70vh;
  }

  .hero-content {
    padding: $gutter-md;
    backdrop-filter: blur(1px) saturate(165%);
    -webkit-backdrop-filter: blur(21px) saturate(200%);
    background-color: rgba(14, 58, 82, 0.56);
    position: relative;
    border-radius: 12px;
    border: 1px solid rgba(23, 38, 73, 0.125);
    box-shadow: 0 9px 10px rgb(27 27 27 / 39%);

    > *,
    label span {
      color: $clr-white;
      text-align: center;
    }
    @media (min-width: $mq-sm) {
      padding: $gutter-lg;
    }
  }
}

.results {
  .subtitle {
    text-align: center;
    margin-bottom: $gutter-lg;
  }
}

.result {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: $gutter-lg;
}
