@import "../base/variables";
@import "../base/typography";

.search-interface-page {
  .hero {
    padding: $gutter-xs;
    background-image: url("../assets/img/water_crop_2100x822.png");
    max-height: 100vh;
    transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    &.search-active {
      max-height: 60vh;
    }
  }

  .hero-content {
    /*     margin-top: $gutter-xxl; */
    width: 100%;
    max-width: $max-size-half;
    padding: $gutter-md;
    backdrop-filter: blur(1px) saturate(165%);
    -webkit-backdrop-filter: blur(21px) saturate(200%);
    background-color: rgba(14, 58, 82, 0.56);
    position: relative;
    border-radius: 12px;
    border: 1px solid rgba(23, 38, 73, 0.125);
    box-shadow: 0 9px 10px rgb(27 27 27 / 39%);

    > *,
    label span {
      color: $clr-white;
    }
    @media (min-width: $mq-sm) {
      padding: $gutter-lg;
      width: 80%;
      max-width: $max-size;
    }
  }
}

.main-content {
  .subtitle {
    text-align: center;
    margin-bottom: $gutter-lg;
  }

  .disclaimer {
    @include flex-center;
    max-width: $max-size-half;
    padding-top: $gutter-xxl;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    gap: $gutter-sm;

    button {
      margin-top: $gutter-md;
    }
  }
}

.results-wrapper {
  max-width: $max-size;
  @include center;
}

.result {
  margin-top: $gutter-lg;
  .date {
    font-size: $fs-sm;
  }
  p {
    margin-top: $gutter-xs;
  }
}

.result-scope {
  font-size: $fs-sm;
}

.tui-pagination {
  margin-top: $gutter-lg;
}
