@import "../base/variables";
@import "../base/typography";

.sign-up-page {
  .hero {
    background-image: url("/assets/img/72dpi_DSC9133_building_crop.jpg");
    .title {
      color: $clr-white;
    }
  }
  .main-content {
    max-width: $max-size-double;
    @include center;
    display: grid;
    justify-content: center;
    gap: $gutter-xxl;
    @include section-padding-mq;

    @media (min-width: $mq-md) {
      grid-template-columns: 1fr 400px;

      /*       * {
        width: 50%;
      } */

      /*       .form-wrapper {
        margin: 0 $gutter-xl;
      } */
    }
  }
  .content {
    max-width: 700px;
  }
}
