@import "../base/variables";

.sign-up-page {
  .main-content {
    display: flex;
    flex-direction: column;
    @include section-padding-mq;

    @media (min-width: $mq-sm) {
      flex-direction: row;
      > * {
        width: 50%;
      }

      .form-wrapper {
        margin: 0 $gutter-xl;
      }
    }
  }
}
