@import "../base/variables";
@import "../base/typography";

.sign-up-page {
  .hero {
    background-image: url("/assets/img/72dpi_DSC9133_building_crop.jpg");
    background-color: $clr-blue-lt;
    .title {
      color: $clr-white;
    }
  }
  .main-content {
    max-width: $max-size-double;
    @include flex-column-center;
    gap: $gutter-xl;

    @include section-padding-mq;

    > * {
      justify-self: center;
    }

    @media (min-width: $mq-lg) {
      flex-direction: row;

      /*       * {
        width: 50%;
      } */

      /*       .form-wrapper {
        margin: 0 $gutter-xl;
      } */
    }
  }
  .content {
    max-width: 700px;
    .sign-up-steps {
      padding: $gutter-md;
      @include center;
      @media (max-width: $mq-xs-down) {
        display: none;
      }
    }
  }
}
